html, body, div, span,h1, h2, h3, h4, h5, h6, p, a, em, img, q, s, small, strong,b, u, i,dl, dt, dd, ol, ul, li,form, label,table, caption, tbody, tfoot, thead, tr, th, td,article,footer, header, menu, nav,section, time, audio, video,button ,textarea {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font-weight: normal;
     vertical-align: baseline;
     text-decoration: none;
     line-height: 1;
}
a{
     display: inline-block;
     text-decoration: none;
}
 .clearfloat{
     zoom:1;
}
 .clearfloat:after{
     display:block;
     clear:both;
     content:"";
     overflow:hidden;
     height:0;
}
/*top-section*/
 .top-section {
     width: 100%;
     height: 150px;
     background-color: #eeedef;
}
/*bottom-section*/
 .bottom-section .sub-bottom-section {
     width: 90%;
     float: right;
     display: flex;
     flex-direction: row;
     position:relative;
}
 .bottom-section .sub-bottom-left {
     width: 40%;
     height: 550px;
     background-color: #d8d8d8;
     margin-top: -100px;
}
 .bottom-section .sub-bottom-right {
     width: 60%;
     display: flex;
     justify-content: center;
     background:#fff;
}
 .sub-bottom-right .news-content{
     display: flex;
     flex-direction: row;
     width: 94%;
}
 .sub-bottom-right .news-content .news {
     border-right:1px dotted #d8d8d8;
     align-self: flex-end;
     flex:1;
	 width:33.3%;
	 word-wrap: break-word;
}
 .sub-bottom-right .news-content .news .sub-news{
     padding:0 15px;
}
 .sub-bottom-right .news-content .news:last-child {
     border-right:none;
}
 .sub-bottom-right .news-content .news h2{
     font-size: 29px;
     font-weight: 700;
     line-height: 30px;
}
 .news-content .news .img-block{
     width:100%;
     height:100px;
     background-color: #d8d8d8;
     margin-top:60px;
}
/*ad-blocker starts here*/
 .ad-blocker {
     position: absolute;
     width: 420px;
     background: #fff;
     left: 285px;
     top: -45px;
}
 .ad-blocker h4 {
     color: #0165a7;
     font-weight: 700;
     font-size: 26px;
     line-height: 32px;
     padding:20px;
}
 .ad-blocker .blue-border {
     height: 20px;
     background-color: #0165a7;
}
/*ad-blocker ends here*/
/* The Modal starts here*/
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0,0,0,0.4);
}
/* Modal header */
 .modal-header {
     padding: 20px;
     background-color: #0165a7;
     display: flex;
     justify-content: space-between;
}
 .modal-header h2{
     font-size:28px;
     color:#fff;
     font-weight: bold;
     display:flex;
     align-items: center;
}
/* Modal Close Button */
 .modal .close {
     color: white;
     font-size: 40px;
}
 .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}
/* Modal Content */
 .modal-content {
     background-color: #fff;
     margin: auto;
     width: 60%;
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s 
}
/* Add Animation */
 @-webkit-keyframes animatetop {
     from {
         top:-300px;
         opacity:0 
    }
     to {
         top:0;
         opacity:1 
    }
}
 @keyframes animatetop {
     from {
         top:-300px;
         opacity:0 
    }
     to {
         top:0;
         opacity:1 
    }
}
/* Modal body */
 .modal-body {
     padding: 20px 20px 50px 20px;
}
 .modal-body p{
     font-size:20px;
     line-height:25px;
     margin-bottom:30px;
}
 .modal-body #text{
     display:none;
}
 .modal-body .btn-container {
     width:100%;
     text-align:right;
}
 .btn-container #toggle{
     font-size:20px;
     color:#000;
     font-weight:bold;
     cursor:pointer;
}
/* The Modal ends here*/

/*media query for device less than 992px */
 @media only screen and (max-width: 991px) {
     .top-section {
         height: 340px;
    }
     .bottom-section .sub-bottom-section {
         float: none;
         margin: 0 auto;
    }
     .sub-bottom-right .news-content {
         flex-direction: column;
         width:86%;
    }
     .bottom-section .sub-bottom-left {
         height: 430px;
         margin-top: -260px;
    }
     .bottom-section .sub-bottom-right {
         margin-top: -260px;
    }
     .sub-bottom-right .news-content .news {
         display:flex;
         align-items:center;
		 width:100%;
         border-right:none;
         border-bottom: 1px dotted #d8d8d8;
    }
     .sub-bottom-right .news-content .news .sub-news {
         padding:0;
         overflow: hidden;
    }
     .sub-bottom-right .news-content .news h2 {
         width: 66%;
         float: left;
         font-size: 21px;
         line-height: 23px;
    }
     .news-content .news .img-block {
         margin-top: 0;
         float: right;
         width: 30%;
         height:85px;
    }
     .ad-blocker {
         top:initial;
         bottom:-55px;
         left:0;
         width:262px;
    }
     .ad-blocker h4 {
         font-size: 20px;
         line-height: 24px;
         padding: 14px 20px;
    }
     .modal-content {
         width: 85%;
    }
     .modal-header h2 {
         font-size: 30px;
    }
     .modal-body p {
         font-size: 24px;
         line-height: 31px;
         margin-bottom: 32px;
    }
     .modal .close {
         font-size: 55px;
    }
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1280px) {
	.sub-bottom-right .news-content .news h2 {
		font-size: 25px;
		line-height: 27px;
	}
}
/*media query for iPad only */
 @media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
     .sub-bottom-right .news-content .news:last-child {
         border-bottom: none;
    }
}
/*media query for mobile */
 @media only screen and (max-width: 767px) {
     .top-section {
         display: none;
    }
     .bottom-section .sub-bottom-section {
         display:block;
         width:100%;
    }
     .bottom-section .sub-bottom-left {
         width: 100%;
         height: 200px;
         margin-top: 0;
    }
     .bottom-section .sub-bottom-right {
         width: 100%;
         margin-top: 0;
    }
     .sub-bottom-right .news-content .news .sub-news {
         padding: 20px 0;
		 width:100%;
    }
     .sub-bottom-right .news-content .news h2 {
         font-size: 17px;
         line-height: 22px;
    }
     .news-content .news .img-block {
         height: 75px;
    }
     .ad-blocker {
         top: 55px;
         bottom: initial;
         left: initial;
         right: 0;
         width: 315px;
    }
     .ad-blocker .blue-border {
         height: 7px;
    }
     .modal {
         padding-top: 40px;
    }
     .modal-body {
         padding: 20px;
    }
     .modal-content {
         width: 86%;
         margin-bottom: 75px;
    }
     .modal-header {
         flex-direction: column-reverse;
         padding: 10px 20px 15px 20px;
    }
     .modal .close {
         font-size: 30px;
         text-align:right;
    }
     .modal-header h2 {
         font-size: 22px;
         padding-top: 20px;
    }
}
 